@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Hanken Grotesk", sans-serif;
  text-align: center;
}
:root {
  /* ### Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
  /* ### Primary */
  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  -color-cobalt-blue: hsl(234, 85%, 45%);
  /* ## Gradients */

  /* Background */
  --color-light-slate-blue: hsl(252, 100%, 67%);
  --color-light-royal-blue: hsl(241, 81%, 54%);
  /* circle */
  --color-violet-blue: hsla(256, 72%, 46%, 1);
  --color-violet-persian-blue: hsla(241, 72%, 46%, 0);
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    var(--color-light-slate-blue),
    var(--color-light-royal-blue)
  );
}
#circle {
  flex-flow: column wrap;
  height: 60px;
  width: 60px;
  color: var(--color-white);
  background: linear-gradient(
    var(--color-violet-blue),
    var(--color-violet-persian-blue)
  );
  border-radius: 50%;
}
ul > li {
  border-style: solid;
  border-radius: 50px;
  margin: 30px;
  list-style-type: none;
  padding-left: 30px;
}
